// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #10546A;
$primary-invert: findColorInvert($primary);
$twitter: #10546A;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
// @import "~buefy/src/scss/buefy";
@import "~buefy/src/scss/utils/_variables.scss";
@import "~buefy/src/scss/utils/_functions.scss";
@import "~buefy/src/scss/components/_upload.scss";
@import "~buefy/src/scss/components/_checkbox.scss";

.gutter {
  background-color: $light;
  background-repeat: no-repeat;
  background-position: 50%;
  &.gutter-vertical {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  }
  &:hover {
    cursor: row-resize;
  }
}